In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("datanet.csv")

In [2]:
df.head()

,Continent,Sub-Continent,Country,Percentage distribution of women aged 15-49 (per country),Pregnancy intention,Contraceptive availability,Contraceptive method
0,Africa,Eastern Africa,Burundi,0.650838,Not wanting to avoid pregancy,Not applicable,Not applicable
1,Africa,Eastern Africa,Burundi,0.113709,Wanting to avoid pregnancy,Met need,Using modern methods
2,Africa,Eastern Africa,Burundi,0.024347,Wanting to avoid pregnancy,Unmet need,Using traditional methods
3,Africa,Eastern Africa,Burundi,0.211106,Wanting to avoid pregnancy,Unmet need,Using no method
4,Africa,Eastern Africa,Comoros,0.666126,Not wanting to avoid pregancy,Not applicable,Not applicable

In [3]:
df.columns

Index(['Continent', 'Sub-Continent', 'Country',
       'Percentage distribution of women aged 15-49  (per country)',
       'Pregnancy intention', 'Contraceptive availability',
       'Contraceptive method'],
      dtype='object')

In [4]:
df.columns = ['continent', 'sub-cont', 'country', 'percent', 'preg_intention', 'contraceptive_ability', 'contraceptive_method']
df

,continent,sub-cont,country,percent,preg_intention,contraceptive_ability,contraceptive_method
0,Africa,Eastern Africa,Burundi,0.650838,Not wanting to avoid pregancy,Not applicable,Not applicable
1,Africa,Eastern Africa,Burundi,0.113709,Wanting to avoid pregnancy,Met need,Using modern methods
2,Africa,Eastern Africa,Burundi,0.024347,Wanting to avoid pregnancy,Unmet need,Using traditional methods
3,Africa,Eastern Africa,Burundi,0.211106,Wanting to avoid pregnancy,Unmet need,Using no method
4,Africa,Eastern Africa,Comoros,0.666126,Not wanting to avoid pregancy,Not applicable,Not applicable
...,...,...,...,...,...,...,...
587,Latin America and the Caribbean,South America,Uruguay,0.089171,Wanting to avoid pregnancy,Unmet need,Using no method
588,Latin America and the Caribbean,South America,Venezuela,0.319888,Not wanting to avoid pregancy,Not applicable,Not applicable
589,Latin America and the Caribbean,South America,Venezuela,0.540280,Wanting to avoid pregnancy,Met need,Using modern methods
590,Latin America and the Caribbean,South America,Venezuela,0.046002,Wanting to avoid pregnancy,Unmet need,Using traditional methods
591,Latin America and the Caribbean,South America,Venezuela,0.093829,Wanting to avoid pregnancy,Unmet need,Using no method

In [5]:
df.shape

(592, 7)

In [6]:
df = df.drop(columns = ['preg_intention', 'contraceptive_ability'])
df

,continent,sub-cont,country,percent,contraceptive_method
0,Africa,Eastern Africa,Burundi,0.650838,Not applicable
1,Africa,Eastern Africa,Burundi,0.113709,Using modern methods
2,Africa,Eastern Africa,Burundi,0.024347,Using traditional methods
3,Africa,Eastern Africa,Burundi,0.211106,Using no method
4,Africa,Eastern Africa,Comoros,0.666126,Not applicable
...,...,...,...,...,...
587,Latin America and the Caribbean,South America,Uruguay,0.089171,Using no method
588,Latin America and the Caribbean,South America,Venezuela,0.319888,Not applicable
589,Latin America and the Caribbean,South America,Venezuela,0.540280,Using modern methods
590,Latin America and the Caribbean,South America,Venezuela,0.046002,Using traditional methods
591,Latin America and the Caribbean,South America,Venezuela,0.093829,Using no method

In [7]:
df = df.astype({"percent": str})
df.dtypes

continent               object
sub-cont                object
country                 object
percent                 object
contraceptive_method    object
dtype: object

In [8]:
# combine based on Order_Number
df_ = df.groupby(["continent","sub-cont", "country"]).agg({'percent':'|'.join,'contraceptive_method':'|'.join}).reset_index()
df_

,continent,sub-cont,country,percent,contraceptive_method
0,Africa,Eastern Africa,Burundi,0.650837821966518|0.113709303450489|0.02434677...,Not applicable|Using modern methods|Using trad...
1,Africa,Eastern Africa,Comoros,0.666126226720115|0.0950685632979558|0.0381693...,Not applicable|Using modern methods|Using trad...
2,Africa,Eastern Africa,Djibouti,0.657093774664966|0.161502279869941|0.01147116...,Not applicable|Using modern methods|Using trad...
3,Africa,Eastern Africa,Eritrea,0.703098353744449|0.058524804703874|0.01067213...,Not applicable|Using modern methods|Using trad...
4,Africa,Eastern Africa,Ethiopia,0.62460198593714|0.233723052550546|0.002815501...,Not applicable|Using modern methods|Using trad...
...,...,...,...,...,...
143,Oceania,Micronesia,Federated States of Micronesia,0.682407459662842|0.150298213307114|0.05002416...,Not applicable|Using modern methods|Using trad...
144,Oceania,Micronesia,Guam,0.680578170479635|0.153574928451917|0.05028029...,Not applicable|Using modern methods|Using trad...
145,Oceania,Polynesia,French Polynesia,0.760404336758419|0.124864945647091|0.04185118...,Not applicable|Using modern methods|Using trad...
146,Oceania,Polynesia,Samoa,0.643755599290189|0.138983464781942|0.01528682...,Not applicable|Using modern methods|Using trad...
147,Oceania,Polynesia,Tonga,0.661236843684458|0.173123413960892|0.04011988...,Not applicable|Using modern methods|Using trad...

In [9]:
# split and expand
df_1 = df_['percent'].str.split('|', expand=True).add_prefix('per_')
df_2 = df_['contraceptive_method'].str.split('|', expand=True).add_prefix('method_')

In [10]:
df_1

,per_0,per_1,per_2,per_3
0,0.650837821966518,0.113709303450489,0.0243467777792835,0.211106096803709
1,0.666126226720115,0.0950685632979558,0.0381693114384136,0.200635898543516
2,0.657093774664966,0.161502279869941,0.0114711675244917,0.169932777940601
3,0.703098353744449,0.058524804703874,0.0106721344220529,0.227704707129624
4,0.62460198593714,0.233723052550546,0.00281550186099756,0.138859459651317
...,...,...,...,...
143,0.682407459662842,0.150298213307114,0.05002416486164,0.117270162168405
144,0.680578170479635,0.153574928451917,0.0502802916867374,0.11556660938171
145,0.760404336758419,0.124864945647091,0.0418511882375809,0.0728795293569093
146,0.643755599290189,0.138983464781942,0.0152868228107482,0.201949764898543
147,0.661236843684458,0.173123413960892,0.0401198832367225,0.125463188122968

In [11]:
df_2

,method_0,method_1,method_2,method_3
0,Not applicable,Using modern methods,Using traditional methods,Using no method
1,Not applicable,Using modern methods,Using traditional methods,Using no method
2,Not applicable,Using modern methods,Using traditional methods,Using no method
3,Not applicable,Using modern methods,Using traditional methods,Using no method
4,Not applicable,Using modern methods,Using traditional methods,Using no method
...,...,...,...,...
143,Not applicable,Using modern methods,Using traditional methods,Using no method
144,Not applicable,Using modern methods,Using traditional methods,Using no method
145,Not applicable,Using modern methods,Using traditional methods,Using no method
146,Not applicable,Using modern methods,Using traditional methods,Using no method
147,Not applicable,Using modern methods,Using traditional methods,Using no method

In [12]:
df_ = pd.concat([df_, df_1, df_2], axis=1).drop(['percent', 'contraceptive_method'], axis=1)

In [13]:
df_ = df_.drop(columns = ['method_0', 'method_1', 'method_2', 'method_3'])
df_.columns = ['continent', 'sub-cont', 'country', 'per_na', 'per_modern', 'per_traditional', 'per_nomethod']

In [14]:
df_.to_json('data.json', orient='records')

### Calculating Average Percentage of Unmet Contraceptive Needs by Sub-Continent

In [15]:
df_.head()

,continent,sub-cont,country,per_na,per_modern,per_traditional,per_nomethod
0,Africa,Eastern Africa,Burundi,0.650837821966518,0.113709303450489,0.0243467777792835,0.211106096803709
1,Africa,Eastern Africa,Comoros,0.666126226720115,0.0950685632979558,0.0381693114384136,0.200635898543516
2,Africa,Eastern Africa,Djibouti,0.657093774664966,0.161502279869941,0.0114711675244917,0.169932777940601
3,Africa,Eastern Africa,Eritrea,0.703098353744449,0.058524804703874,0.0106721344220529,0.227704707129624
4,Africa,Eastern Africa,Ethiopia,0.62460198593714,0.233723052550546,0.00281550186099756,0.138859459651317

In [16]:
num_columns = ['per_na', 'per_modern', 'per_traditional', 'per_nomethod']

for x in num_columns:
    df_[x] = pd.to_numeric(df_[x])

In [17]:
df_['per_unmet'] = df_['per_na'] + df_['per_traditional']
df_

,continent,sub-cont,country,per_na,per_modern,per_traditional,per_nomethod,per_unmet
0,Africa,Eastern Africa,Burundi,0.650838,0.113709,0.024347,0.211106,0.675185
1,Africa,Eastern Africa,Comoros,0.666126,0.095069,0.038169,0.200636,0.704296
2,Africa,Eastern Africa,Djibouti,0.657094,0.161502,0.011471,0.169933,0.668565
3,Africa,Eastern Africa,Eritrea,0.703098,0.058525,0.010672,0.227705,0.713770
4,Africa,Eastern Africa,Ethiopia,0.624602,0.233723,0.002816,0.138859,0.627417
...,...,...,...,...,...,...,...,...
143,Oceania,Micronesia,Federated States of Micronesia,0.682407,0.150298,0.050024,0.117270,0.732432
144,Oceania,Micronesia,Guam,0.680578,0.153575,0.050280,0.115567,0.730858
145,Oceania,Polynesia,French Polynesia,0.760404,0.124865,0.041851,0.072880,0.802256
146,Oceania,Polynesia,Samoa,0.643756,0.138983,0.015287,0.201950,0.659042
147,Oceania,Polynesia,Tonga,0.661237,0.173123,0.040120,0.125463,0.701357

In [18]:
groupbycont = df_.groupby(['continent','sub-cont'])['per_unmet'].mean()

In [19]:
groupbycont.to_frame()

                                                 per_unmet
continent                       sub-cont
Africa                          Eastern Africa    0.591401
                                Middle Africa     0.613935
                                Northern Africa   0.663673
                                Southern Africa   0.356623
                                Western Africa    0.631468
Asia                            Central Asia      0.565385
                                Eastern Asia      0.431037
                                Southeast Asia    0.601228
                                Southern Asia     0.554081
                                Western Asia      0.713639
Latin America and the Caribbean Caribbean         0.417155
                                Central America   0.424897
                                South America     0.447575
Oceania                         Melanesia         0.672978
                                Micronesia        0.731645
                                Polynesia         0.720885

In [20]:
groupbycont.to_csv('data_continent.csv')

In [22]:
df_cont = pd.read_csv('data_continent.csv')
df_cont.head()

  continent         sub-cont  per_unmet
0    Africa   Eastern Africa   0.591401
1    Africa    Middle Africa   0.613935
2    Africa  Northern Africa   0.663673
3    Africa  Southern Africa   0.356623
4    Africa   Western Africa   0.631468

In [23]:
df_cont.to_json('data_cont.json', orient='records')